@Model List<Product>
    <div class="container" action="PORT">
        <h3>DANH SÁCH NGƯỜI DÙNG</h3>
        <a class="btn btn-primary mb-2" href="/Product/Create">Thêm mới</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>
                            <div>
                                <a class="btn btn-warning" href="/Product/Edit/@item.Id">Edit</a>
                                <a class="btn btn-danger" href="/Product/Edit/@item.Delete" onclick="return confirm('Bạn có chắc muốn xóa không?')">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
    </div>
